body{
    background-color: #628395;
}
#form{
    align-items: center;
    width: 250px;
    background-color: #68edff;
    padding: 25px;
    margin: auto;
    margin-top: 180px;
}
#username{
  display: block;
  padding: 5px;
  margin-top: 10px;
  border-style: solid;
  width: 220px;
  height: 20px;
  font-weight: bolder;
}
#password{
  display: block;
  padding: 5px;
  margin-top: 10px;
  border-style: solid;
  width: 220px;
  height: 20px;
  font-weight: bolder;
}
#email{
  display: block;
  padding: 5px;
  margin-top: 10px;
  border-style: solid;
  width: 220px;
  height: 20px;
  font-weight: bolder;
}
#mobile{
  display: block;
  padding: 5px;
  margin-top: 10px;
  border-style: solid;
  width: 220px;
  height: 20px;
  font-weight: bolder;
}
#submit{
  margin-top: 10px;
  padding: 5px;
  width: 80px;
  font-weight: bolder
}
#username-error{
        color: #FF3F00;
        margin-top: 10px;
        font-weight: bolder;
        display: none;
}
#password-error{
        color: #FF3F00;
        margin-top: 10px;
        font-weight: bolder;
        display: none;
}
#email-error{
  color: #FF3F00;
  margin-top: 10px;
  font-weight: bolder;
  display: none;
}
#mobile-error{
  color: #FF3F00;
  margin-top: 10px;
  font-weight: bolder;
  display: none;
}